[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "==3.14.0"
psycopg2-binary = "==2.9.6"
dj-database-url = "==2.0.0"
drf-spectacular = "==0.26.2"
celery = "==5.2.7"
django-celery-beat = "==2.5.0"
django-celery-results = "==2.5.1"
redis = "==4.5.5"
geopy = "==2.3.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
